#landing {
	padding-top: 17vh;
	width: 70vh;
}

#landing h1 {
	font-size: 10vh;
	padding-bottom: 5vh;
}

#home-create-room h4 {
	float: left;
	display: inline;
}

#home-create-room input {
	float: right;
	display: inline;
}

#home-submit {
	float: right;
}

#landing label {
	font-size: 4vh;
}

#more-details {
	display: none;
	margin-top: 17vh;
	width: 100vh;
}

#more-details label {
	font-size: 3vh;
}

#room-size {
	width: 5vh;
}

#room-page {
	margin-top: 5vh;
}

#everything-else {
	height: 85vh;
	border-style: solid;
}

#chat-box{
	position: relative;
	height: 85vh;
	border-style: solid;
}

#top-div {
	height: 10%;
	border-style: solid;
	position: relative;
}

#music-player {
	height: 55%;
	border-style: solid;
}

#song-queue {
	height: 25%;
	border-style: solid; 
}

#skip-box {
	display: none;
	border-style: solid;
	position: absolute;
	right: 0;
	top: 0;
	height: 50%;
	width: 30%;
}

#skip-button {
	position: absolute;
	width: 10%;
	right: 0;
	bottom: 0;
}

#skip-line {
	display: none;
	margin-left: 0%;
	border-style: solid;
	width: .5px;
	height: 100%;
}

#chat-text-submit {
	position: absolute;
	right: 0;
	bottom: 0;
}

#text-box {
	position: absolute;
	left: 0;
	bottom: 0;
}